# raw and processed data (too large)
data/neo4j/conf/*
data/neo4j/data/*
data/neo4j/logs/*
data/neo4j/plugins/*

# pycharm and vscode
.idea
.vscode

# secret environment variables
env/.env

# virtual environment
venv