# lab1 - Neo4j raw and processed data (too large)
Lab1-PropertyGraph/data/neo4j/conf/*
Lab1-PropertyGraph/data/neo4j/data/*
Lab1-PropertyGraph/data/neo4j/logs/*
Lab1-PropertyGraph/data/neo4j/plugins/*

# Lab2 -

# Lab3 -
Lab3-KnowledgeGraph/data/graphdb/conf/*
Lab3-KnowledgeGraph/data/graphdb/data/*
Lab3-KnowledgeGraph/data/graphdb/logs/*
Lab3-KnowledgeGraph/data/graphdb/work/*

# Final Project
Project/data/neo4j/conf/*
Project/data/neo4j/data/*
Project/data/neo4j/logs/*
Project/data/neo4j/plugins/*

# pycharm and vscode
.idea
.vscode

# secret environment variables
.env

# virtual environment
venv
